<?php

return [
    'database' => [
        'name' => 'sql10201044',
        'username' => 'sql10201044',
        'password' => 'kUdTnFbyKR',
        'connection' => 'mysql:host=sql10.freemysqlhosting.net',
        'options' => [

        ],
    ],
];

return [
    'database' => [
        'name' => 'SkyFoodDB',
        'username' => 'root',
        'password' => '',
        'connection' => 'mysql:host=localhost',
        'options' => [

        ],
    ],
];
