.edit-post {
	.author {
		.title {
		    margin-top: 5%;
		}
	}
}
 #map {
    height: 300px !important;
}
.pac-card {
    margin: 0 !important;
    box-shadow: none !important;
}
#pac-input {
    margin: 0 !important;
    width: 100% !important;
 }
