.posts {
	.card {
		.header-card {
			padding: 15px;
			.add-btn {
				button {
					
				}
			}
			.search-btn {
				.input-group-addon {
					border: none;
				}
				input {
					height: 28px;
				}
				.input-group-btn {
					border: none;
					button {
						padding: 3px 10px !important;	
						border-left: 0;
					}
				}
			}
		}
		.content-card {
			#view-post {
				thead {
					th {}
				}
				tbody {
					tr {
						td {}
						.name-place {
							word-break: break-word;
							max-width: 100px;
						}
						.img-post {
							a {
								display: block;
								width: 70px;
								height: 70px;
								
								img {
									width: 100%;
									height: 100%;
									&:hover {
										opacity: 0.5;
									}
								}
							}
							
						}
						.item-col {
							display: inline-block;
							&:first-child {
								margin-right: 5%;
							}
						}
						.percent-input {
							input {
								height: 30px !important;
							}
						}
					}
				}
				.form-group {
					margin: 0 !important;
				}
				.btn {
					padding: 3px 8px !important;
				}
			}
		}
		.nav-pag {
			text-align: right;
			padding: 15px;
			.pagination {
				a {
					color: $main-color !important;
					border-radius: 0;
				}
				.active {
					a {
						background-color: $main-color;
					    border-color: $main-color;
					    color: $color-white !important;
					}
				}
			}
		}
	}
}

