.edit-post {
	.card-user {
	}
	.author {
		// margin: 0;
		// .edit-avatar {
		// 	.wrp {
		// 		position: relative;
		// 		overflow: hidden;
		// 		padding: 3px 10px;	
		// 		i {
		// 			padding-right: 2%;
		// 		}
		// 		input {
		// 			position: absolute;
		// 			font-size: 50px;
		// 			opacity: 0;
		// 			right: 0;
		// 			top: 0;
		// 		}
		// 	}
		// }
		.title {
		    margin-top: 5%;
		}
	}
}
 #map {
    height: 300px !important;
   
}
.pac-card {
    margin: 0 !important;
    box-shadow: none !important;
}
#pac-input {
    margin: 0 !important;
    width: 100% !important;
 }
