.home {
	.card {
	    box-shadow: none;
	     .panel {
	     	border-radius: 0 !important;
	     	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
	        color: $color-white;
	        .panel-body {
	            max-height: 110px;
	            .num {
	                font-weight: bold;
	                font-size: 25px;
	            }
	            .icon {
	                text-align: right;
	                i {
	                    font-size: 60px;
	                    color: rgba(0, 0, 0, 0.15);
	                }
	            }
	        }
	        .panel-footer {
	            text-align: center;
	            background: transparent;
	            background: rgba(0, 0, 0, 0.15);
	            border-top: 1px solid rgba(255, 255, 255, 0.3);
	            a {
	                color: $color-white !important;
	                &:hover {
	                    text-decoration: underline;
	                }
	            }
	        }
	    }
	}
   
}