.login-form {
	.wrp { 
		.panel {
			.panel-body {
				.bg-button {
					width: 100%;
				}
				.res-link {
					a {
						color: $color-orange-light;
						font-weight: bold;
					}
				}
			}
		}
		
	}
}
	

