.btn, input, button, select {
	border-radius: 0 !important;
}
// .sidebar[data-color="purple"]:after, body > .navbar-collapse[data-color="purple"]:after {
// 	    background: linear-gradient(to bottom, #91d0d5 0%, blue 100%);
// }