.panel-blue {
	background: $color-blue;
	border: none;
}
.panel-green {
	background: $color-green;
	border: none;
}
.panel-orange {
	background: $color-orange;
	border: none;
}
.panel-red {
	background: $color-red2;
	border: none;
}
.panel-violet {
	background: $color-violet;
	border: none;
}
.panel-brown {
	background: $color-brown;
	border: none;
}
.panel-green2 {
	background: $color-green2;
	border: none;
}