$main-color: #9368E9;
$hover-main-color: #b08fe2;
$color-white: #fff;
$color-gray: #c2c2c2;
$color-red: #FF4A55;
$color-red2: #f56954;
$color-orange-light:  #fb9678;
$color-orange: #f39c12;
$color-blue: #00c0ef;
$color-green: #00a65a;
$color-green2: #059981;
$color-violet: rgb(118, 102, 190);
$color-brown: rgb(117, 106, 77);