.navbar-fixed {
	.navbar-header {
		.navbar-brand {
			margin: 0;
			padding: 15px;
		}
	}
	
	.navbar-right {
		.dropdown-toggle {
		    font-size: 14px !important;
			margin: 0;
			padding: 15px;
			span {
				img {
					width: 30px;
					height: 30px;
					border-radius: 50%;
					border: 1px solid $hover-main-color;
				}
			}
		}
		.dropdown-menu {
			li {
				i {
					padding-right: 15%;
				}
			}
		}
	}
}