.page-form {
	position: relative;
	background: url(../img/res1.gif) no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    .panel {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 30%;
		background: rgba(255,255,255,0.8);
		.panel-heading {
			background: transparent;
			border: 0;
			.panel-title {
				font-size: 20px;
				color: #9368E9;
				font-weight: bold;
			}
		}
    }
}